.DS_Store
.vagrant/
*.log
.travis
.env
ansible_fact_cache
node_modules/
admantium/html/
admantium/css
admantium/js
mix-manifest.json
package-lock.json
ansible/scripts/admantium/config/ssl
ansible/scripts/gateway/files
certs/
kubeconfig
_cache
scanner_0.1.0.tar.gz
webpage_0.1.0.tar.gz
template
build
redis.conf
secrets.yml
backup/
